.logo {
	color:#1da1f2;
	margin-top: -8px;
}	
#textArea{
	resize: none;
	font-family: cursive;
	font-size: 18px;
	border:1px solid black;
	padding-right: 8px;
}
#contenedor {
	height: 250px;
	border:1px solid #6E6E6E;
}
#button {
	font-size: 20px;
	padding: 5px 20px;
}
#cont {
	float: right;
}

.colorRed {
	color: red;
}
.colorBlue {
	color: blue;
}

.izquierda {
	float: right;
}
